body {
    font-family: Arial, sans-serif;
    background-color: #231d1d53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #fff;
    border: 1px solid #0fe4fb;
    margin-bottom: 5px;
}

p {
    color: #fff;
    margin-bottom: 10px;
    text-decoration: underline;
}



input {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}